html,
body {
  font-family: Playfair Display, serif;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: white;
  color: black;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
}

.penuh {
  scroll-behavior: smooth;
  max-width: 100%;
  box-shadow: 0px 2px 10px;
}
#hamburger {
  items-align: center;
  color: #351bbaff;
  display: none;
}
header {
  max-width: 1250px;
  height: 60px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  color: #3b4454;
  text-decoration: none;
  padding: 0 10px;
}
.menu .navigation a:hover {
  color: #351bbaff;
  text-decoration: underline;
  padding: 0 10px;
}
.text {
  font-size: 17px;
}
.head {
  color: #351bbaff;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo img {
  transition: transform 0.5s ease;
}
.logo img:hover {
  transform: scale(1.1);
}

.button {
  text-decoration: none;
  background-color: #331bbaff;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
  background: #000;
  color: #fff;
  border: 3px solid #1b2bbaff;
  box-shadow: 0 0 10px #1b2bbaff, inset 0 0 10px #1b2bbaff;
  animation: neon-idle 2s ease-in-out infinite;
}
.button:hover {
  background-color: #fff;
  color: #1b2bbaff;
  border: 2px solid #1b2bbaff;
  border-radius: 8px;
  padding: 10px 24px;
  background: #1b2bbaff;
  color: #000;
  box-shadow: 0 0 20px #1b2bbaff, 0 0 40px #1b2bbaff, 0 0 60px #1b2bbaff,
    0 0 80px #1b2bbaff, inset 0 0 20px #fff;
  animation: neon-pulse 0.1s ease-in-out infinite;
}
.isi {
  max-width: 1250px;
  margin: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.awalan {
  font-size: 60px;
}
.coklat {
  color: #1b2bbaff;
}
p {
  font-size: 20px;
  margin: 10px 0 30px 0;
  word-spacing: 5px;
}
.school h2 {
  text-align: center;
  font-size: 50px;
  color: #1b2bbaff;
}
.school a {
  text-align: center;
  font-size: 30px;
  margin: 50px;
  display: block;
}
.sekolah {
  font-weight: bold;
}
.kontak {
  margin-top: 50px;
  background: linear-gradient(to right, #1b2bbaff, #000000ff);
  width: 100%;
  height: 350px;
  text-align: center;
}
.kontak h6 {
  padding-top: 30px;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.kontak p {
  margin-top: -50px;
  color: #fff;
  text-align: center;
}
.button5 {
  text-decoration: none;
  background-color: #fff;
  color: #1b2bbaff;
  border-radius: 8px;
  padding: 10px 24px;
}
.button5:hover {
  background-color: #16207cff;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
}
.hubungi {
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
}
footer {
  background-color: #111827;
  width: 100%;
  height: 250px;
  color: #ffffffff;
}
.akhir {
  display: flex;
}
.footer1 {
  display: flex;
}
.footer1 img {
  margin-top: 10px;
}
.footer2 h6 {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 25px;
}
.footer2 a {
  color: #74879d;
  display: block;
  margin-left: 100px;
  margin-bottom: -50px;
  text-decoration: none;
}
.footer2 :hover {
  color: #fff;
}
footer h6 {
  margin-top: 120px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .isi {
    flex-direction: column;
    text-align: center;
    items-align: center;
  }

  .text,
  .picture {
    max-width: 100%;
  }

  .picture img {
    width: 100%;
    margin-top: 30px;
  }
  .isi {
    width: 80%;
  }
  #hamburger {
    display: inline-block;
  }
  .navigation {
    position: absolute;
    top: 60px;
    right: 0;

    background: #fff;
    width: 250px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);

    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .navigation.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .akhir {
    display: flex;
    font-size: 20px;
  }
  footer {
    background-color: #111827;
    width: 100%;
    height: 500px;
  }
  .footerkedua {
    margin-top: 150px;
    margin-left: -220px;
  }
  .footerketiga {
    margin-top: 300px;
    margin-left: -180px;
  }
  .footer1 {
    display: flex;
    font-size: 20px;
  }
  .footer1 img {
    margin-top: 10px;
  }
  .footer2 h6 {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 25px;
  }
  .footer2 a {
    color: #74879d;
    display: block;
    margin-left: 100px;
    margin-bottom: -50px;
    text-decoration: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
